In [2]:
#tipe data Boolean
print(True)

#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')

#tipe data Integer
print(20)

#tipe data Float
print(3.14)

#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print({"nama":"Budi", 'umur':20})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'> yang berarti dict adalah tipe data dictionary

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}
<class 'dict'>

In [5]:
#Sample Dataset

import pandas as pd

pizza = {'Nama': ['Amir', 'Fadli', 'Fatya'],
'Nilai': [7, 8, 9]
}

pizza_df = pd.DataFrame(pizza)
pizza_df

    Nama  Nilai
0   Amir      7
1  Fadli      8
2  Fatya      9

In [6]:
#Sample Dataset

import pandas as pd

pizza = {'diameter': [6, 8, 10, 14, 18],
'harga': [7, 9, 13, 17.5, 18]
}

pizza_df = pd.DataFrame(pizza)
pizza_df

   diameter  harga
0         6    7.0
1         8    9.0
2        10   13.0
3        14   17.5
4        18   18.0